RPC_URL=https://testrpc.xlayer.tech
CHAIN_ID=195
CONTRACT_ADDRESS=
DEPLOYER_KEY=
JUDGE_ADDRESS=
JUDGE_KEY=
RELAYER_KEY=
BUYER_KEY=
SELLER_KEY=
LLM_API_KEY=
LLM_BASE_URL=
DELIVERY_WINDOW=3600
RULING_WINDOW=3600
